<template>
    <div class="row">
        <div class="row">
            <div v-for="(games,key) in weeks" :key="key" class="col-3">
                <div class="card mt-5">
                    <div class="card-body text-center">
                        <h3>WEEK {{ key }}</h3>

                        <hr>

                        <p v-for="(game,key) in games" :key="key">{{ game.home_team_name }} x
                            {{ game.away_team_name }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container d-flex align-items-center justify-content-center mt-5">
            <router-link to="/simulation" tag="button" class="btn btn-primary">GO TO SIMULATION</router-link>
        </div>
    </div>
</template>
<script>
export default {
    name: "weeks",
    data() {
        return {
            weeks: []
        }
    },
    mounted() {
        this.getGames()
    },
    methods: {
        async getGames() {
            await this.axios.get('/api/v1/games/get').then(response => {
                this.weeks = response.data
            }).catch(error => {
                console.log(error)
                this.teams = []
            })
        }
    }
}
</script>
